* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input {
  outline: none;
  border: none;
}
.header {
  height: 25vw;
  width: 100vw;
  background-color: #fff;
  padding: 4vw 4vw 0 4vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header span {
  font-size: 6vw;
  font-weight: 800;
}
.header .nav {
  height: 6.5vw;
  width: 65vw;
  color: #000;
  display: flex;
  justify-content: space-between;
}
.header .nav section {
  margin-right: 5vw ;
  color: #000;
}
.header .nav section:hover {
  font-weight: 800;
  border-bottom: 0.5vw solid #24c00f;
}
.header .nav section:hover section:nth-child(1) {
  font-weight: 500;
  border: none;
}
.header .nav section:nth-child(1) {
  font-weight: 800;
  border-bottom: 0.5vw solid #24c00f;
}
.login {
  padding-top: 5vw;
  height: 40vw;
}
.login .loginUser {
  width: 90vw;
  padding: 0 5vw;
  box-sizing: border-box;
}
.login .loginUser .loginP {
  height: 10vw;
  padding-top: 5vw;
  position: relative;
}
.login .loginUser .loginP input {
  width: 80vw;
  height: 8vw;
  font-size: 5vw;
  padding: 0.5vw;
}
.login .loginUser .loginP span {
  color: #7e6d6d;
  position: absolute;
  left: 1vw;
  top: 6vw;
  transition: all 0.3s ease-in-out;
}
.login .loginUser .loginP i {
  position: absolute;
  right: 0vw;
  top: 6vw;
}
.login .loginUser .Remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login .loginUser .Remember > input {
  width: 6vw;
  height: 6vw;
}
.login .loginUser .Remember strong {
  margin-right: 25vw ;
}
.login .loginUser .Remember > a {
  color: #24c00f;
}
.proving {
  margin-top: 2vw;
  padding: 0 2vw;
  position: relative;
}
.proving .provingHeader1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.proving .provingHeader1 > span {
  font-size: 3vw;
  margin-right: 18vw;
}
.proving .provingHeader2 {
  font-size: 3vw;
  color: red;
}
.proving > img {
  width: 76vw;
}
.proving .bar {
  width: 76vw;
  height: 4vw;
  margin-top: 2vw;
  border-radius: 2vw;
  background-color: #C8C8C8;
}
.proving .Slider {
  width: 15vw;
  height: 7vw;
  color: #fff;
  line-height: 7vw;
  border-radius: 5vw;
  text-align: center;
  background-color: #1A79FF;
  position: absolute;
  left: 5vw;
  bottom: -1.5vw;
}
.proving .imgSlider {
  width: 9vw;
  height: 9vw;
  position: absolute;
  left: 8.1vw;
  bottom: 14.9vw;
}
.provingJoin {
  position: relative;
}
.provingJoin .join {
  width: 20vw;
  height: 10vw;
  line-height: 10vw;
  margin-top: 3vw;
  text-align: center;
  border-radius: 5vw;
  box-shadow: 0 2px 6px #000;
  position: absolute;
  right: 0;
}
.provingJoin .proving2 {
  color: #24c00f;
  margin: 3vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 9px 8px -12px #000;
  display: none;
}
.provingJoin .proving2 span {
  font-weight: 800;
  margin-right: 3vw;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 8vw;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont';
  src: url('icon/iconfont.woff2?t=1687427550127') format('woff2'), url('icon/iconfont.woff?t=1687427550127') format('woff'), url('icon/iconfont.ttf?t=1687427550127') format('truetype');
}
