<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>菜单</title>
  <link rel="stylesheet" href="./menu.css">
</head>
<body>
  <header>
    <div class="top_head">
      <h1>菜单</h1>
    </div>
    <ul class="top_list">
      <li>全部</li>
      <li>饮料</li>
      <li>美食</li>
      <li>咖啡产品</li>
      <li>商品</li>
    </ul>
  </header>
  <section>
    <span class="advertisement">广告</span>
    <div class="iceCream_coffee">
      <p class="ic_top">咖啡融合冰淇淋</p>
      <ul class="ic_bottom">
        <li>
          <img src="../../../static/images/affogato.jpg" alt="">
          <span>阿馥奇朵</span>
        </li>
        <li>
          <img src="../../../static/images/cold-brew-malt.jpg" alt="">
          <span>麦芽雪冷萃</span>
        </li>
        <li>
          <img src="../../../static/images/cold-brew-float.jpg" alt="">
          <span>冷萃浮乐朵</span>
        </li>
        <li>
          <img src="../../../static/images/instore-nitro-cold-brew-float.jpg" alt="">
          <span>气致冷萃浮乐朵</span>
        </li>
      </ul>
    </div>
    <div class="coldBrew_coffee">
      <p class="cb_top">星巴克冷萃咖啡系列</p>
      <ul class="cb_bottom">
        <li>
          <img src="../../../static/images/cold-brew.jpg" alt="">
          <span>冷萃咖啡</span>
        </li>
        <li>
          <img src="../../../static/images/vanilla-flavor-sweet-cream-cold-brew.jpg" alt="">
          <span>轻甜奶油冷萃</span>
        </li>
        <li>
          <img src="../../../static/images/cold-foam-cold-brew.jpg" alt="">
          <span>绵云冷萃</span>
        </li>
      </ul>
    </div>
    <div class="espresso">
      <p class="esp_top">手工调制浓缩咖啡</p>
      <ul class="esp_bottom">
        <li>
          <img src="../../../static/images/caffe-americano.jpg" alt="">
          <span>美式咖啡(冷/热)</span>
        </li>
        <li>
          <img src="../../../static/images/caffe-latte.jpg" alt="">
          <span>拿铁(冷/热)</span>
        </li>
        <li>
          <img src="../../../static/images/caffe-mocha.jpg" alt="">
          <span>摩卡(冷/热)</span>
        </li>
        <li>
          <img src="../../../static/images/cold-brew.jpg" alt="">
          <span>卡布奇诺(冷/热)</span>
        </li>
        <li>
          <img src="../../../static/images/cappuccino.jpg" alt="">
          <span>焦糖玛奇朵(冷/热)</span>
        </li>
        <li>
          <img src="../../../static/images/espresso.jpg" alt="">
          <span>浓缩咖啡</span>
        </li>
        <li>
          <img src="../../../static/images/flat-white.jpg" alt="">
          <span>馥芮白</span>
        </li>
        <li>
          <img src="../../../static/images/hazelnut-flavored-latte.jpg" alt="">
          <span>榛果风味拿铁(冷/热)</span>
        </li>
        <li>
          <img src="../../../static/images/vanilla-flavored-latte.jpg" alt="">
          <span>香草风味拿铁(冷/热)</span>
        </li>
      </ul>
    </div>
    <div class="frappuccino">
      <p class="frap_top">星冰乐</p>
      <ul class="frap_bottom">
        <li>
          <img src="../../../static/images/caramel-espresso-frappuccino.jpg" alt="">
          <span>焦糖浓缩星冰乐</span>
        </li>
        <li>
          <img src="../../../static/images/green-tea-frappuccino.jpg" alt="">
          <span>抹茶星冰乐</span>
        </li>
        <li>
          <img src="../../../static/images/mango-passion-tea.jpg" alt="">
          <span>芒果西番莲星冰乐</span>
        </li>
        <li>
          <img src="../../../static/images/mocha-frappuccino.jpg" alt="">
          <span>摩卡星冰乐</span>
        </li>
        <li>
          <img src="../../../static/images/mocha-java-chip-frappuccino.jpg" alt="">
          <span>摩卡可可碎片星冰乐</span>
        </li>
        <li>
          <img src="../../../static/images/vanilla-flavored-cream-frappuccino-blended-beverage.jpg" alt="">
          <span>香草风味星冰乐</span>
        </li>
      </ul>
    </div>
    <span class="search">搜索菜单</span>
  </section>
</body>
</html>