* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f7f7;
}
.pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 752.68px;
  margin-top: 20px;
}
.pics img {
  width: 358.4px;
  height: 226.84px;
  border-radius: 6px;
}
.club {
  height: 352px;
  background-color: #fff;
}
.club .text {
  text-align: center;
  color: rgba(0, 0, 0, 0.56);
  word-wrap: break-word;
  word-break: normal;
  margin: 0 0 24px;
  line-height: 5px;
}
.club .text a {
  color: #c2a661;
}
.club .btn {
  display: flex;
  width: 378px;
  justify-content: center;
  margin-top: 38px;
}
.club .btn .regBtn {
  border: 1px solid #00a862;
  border-radius: 48px;
  box-sizing: border-box;
  color: #00a862;
  padding: 6px 18px;
}
.club .btn .logBtn {
  border: 1px solid #00a862;
  border-radius: 48px;
  box-sizing: border-box;
  color: #00a862;
  padding: 6px 18px;
  margin-left: 5px;
}
.club img {
  margin: 26px 0 0 64px;
}
.selected {
  height: 640.2px;
}
.selected .text2 {
  color: rgba(0, 0, 0, 0.56);
  text-align: center;
  line-height: 45px;
}
.selected .card {
  height: 539.6px;
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.selected .card li {
  position: relative;
  width: 167px;
  height: 197px;
  background-color: #fff;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  text-align: center;
}
.selected .card li img {
  position: absolute;
  top: -30px;
  left: 33px;
  width: 101.36px;
  height: 72px;
}
.selected .card li .title {
  padding: 61px 0 0;
}
.selected .card li .title .title-1 {
  font-weight: bold;
}
.selected .card li .title .text3 {
  color: rgba(0, 0, 0, 0.56);
  font-size: 14px;
}
.selected .card li .title .more {
  font-size: 12px;
  color: #c2a661;
  font-weight: 400;
  opacity: 0.7;
  text-transform: none;
  padding: 18px;
}
.starLectureHall {
  height: 387px;
  background-color: #fff;
}
.starLectureHall p {
  color: rgba(0, 0, 0, 0.56);
}
.swiper-slide1 {
  width: 252px !important;
  height: 201px !important;
  position: relative;
}
.swiper-slide1 .tag {
  width: 81px;
  height: 33px;
  position: absolute;
  top: 6px;
  left: 0;
  background: #c2a661;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 33px;
}
.liense {
  margin: 25px 0 0 20px;
  height: 40px;
}
.liense img {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
}
.liense span {
  color: #666;
  font-size: 14px;
}
