*{
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

input {
	border:none;
	outline: none;
	border: 1px solid #000;
}

.button {
    bottom: 0px;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
}

.button ul {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    display: flex;
    margin: 0;
    width: 100%;
    padding: 0 6px;
}

.button ul li {
    position: relative;
    margin: 0px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 20%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.button ul li a {
    box-sizing: border-box;
    display: block;;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.56);
    line-height: 1;
    padding: 6px 4px;
}

.button ul li a span {
    display: block;
    height: 28px;
    margin-bottom: 3px;
    pointer-events: none;
    position: relative;
    width: 100%;
    line-height: 28px;
}

.button ul li a div {
    margin-top: 4px;
    display: block;
}

.button ul li .color {
    color: #00A862;
}




